{{ template "theme/partials/head.html" . }}
<body id="single">
  {{ template "theme/partials/header.html" . }}

  <section class="post-symbol {{ .Params.color }}">
    <i class="symbol fa fa-{{ .Params.icon }}"></i>
    <p class="description">{{ .Description }}</p>
  </section>

  <div id="content-container">
    <div class="post">
      <h1>{{ .Title }}</h1>
      <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      <p class="post-content">{{ .Description }}</p>
    </div>

    {{ template "theme/partials/disqus.html" . }}
  </div>
</body>
</html>
