<meta charset="utf-8">
<title>Frontend Weekly</title>
<meta name="description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="Frontend Weekly">
<meta property="og:image" content="/img/og.png">
<meta property="og:description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
<meta property="og:type" content="website">
<meta property="og:url" content="http://frontendweekly.tokyo" >
<meta content="Frontend Weekly" property="og:site_name">

<meta content="summary" name="twitter:card">
<meta content="@frontend_weekly" name="twitter:site">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,700">
<link rel="stylesheet" href="/css/main.css">
