<meta charset="utf-8">
<title>Frontend Weekly</title>
<meta name="description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="Frontend Weekly">
<meta property="og:image" content="/img/og.png">
<meta property="og:description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://frontendweekly.tokyo" >
<meta property="og:site_name" content="Frontend Weekly">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@frontend_weekly">

<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<link rel="shortcut icon" href="/favicon.ico">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700">
<link rel="stylesheet" href="/css/main.css">
