<meta charset="utf-8">
<title>Frontend Weekly</title>
<meta name="description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:image" content="{{ .Site.BaseURL }}/img/logo.png">
{{ if .IsPage }}
  <meta property="og:description" content="{{ .Summary }}">
{{ else }}
  <meta property="og:description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
{{ end }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@frontend_weekly">

<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700">
<link rel="stylesheet" href="/css/main.css">
