<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Frontend Weekly Tokyo</title>
<meta name="description" content="Frontend Weekly is a weekly e-mail roundup of frontend articles, tutorials, videos/slides and tools.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/skeleton.css">
<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
</head>
<body role="document">
<div class="container">
<header>
  <h1>Frontend Weekly</h1>
</header>
<section>
  <p>Frontend Weeklyは、毎週フロントエンド開発に関連する記事、チュートリアル、動画/スライドなどを、斉藤 祐也、谷 拓樹、そして石本 光司の3名で世界中からキュレーションしてメールでお届けします。</p>

  <h2>Curators</h2>
  <p class="u-text-center">
    <a href="https://twitter.com/cssradar"><img src="/img/cssradar.png" alt="斉藤 祐也" style="margin: 30px;"></a>
    <a href="https://twitter.com/hiloki"><img src="/img/hiloki.png" alt="谷 拓樹" style="margin: 30px;"></a>
    <a href="https://twitter.com/t32k"><img src="/img/t32k.png" alt="石本 光司" style="margin: 30px;"></a>
  </p>


  <div id="mc_embed_signup">
    <form action="//studiomohawk.us2.list-manage.com/subscribe/post?u=0c8604ec46b9f779a3f5b6a1c&amp;id=9af01549dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2>Subscribe to our mailing list</h2>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">メールアドレス  <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-NAME">名前 </label>
          <input type="text" value="" name="NAME" class="" id="mce-NAME">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_0c8604ec46b9f779a3f5b6a1c_9af01549dd" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='NAME';ftypes[3]='text'; /*
 * Translated default messages for the jQuery validation plugin.
 * Locale: JA (Japanese)
 */
  $.extend($.validator.messages, {
    required: "このフィールドは必須です。",
    remote: "このフィールドを修正してください。",
    email: "有効なEメールアドレスを入力してください。",
    url: "有効なURLを入力してください。",
    date: "有効な日付を入力してください。",
    dateISO: "有効な日付（ISO）を入力してください。",
    number: "有効な数字を入力してください。",
    digits: "数字のみを入力してください。",
    creditcard: "有効なクレジットカード番号を入力してください。",
    equalTo: "同じ値をもう一度入力してください。",
    accept: "有効な拡張子を含む値を入力してください。",
    maxlength: $.validator.format("{0} 文字以内で入力してください。"),
    minlength: $.validator.format("{0} 文字以上で入力してください。"),
    rangelength: $.validator.format("{0} 文字から {1} 文字までの値を入力してください。"),
    range: $.validator.format("{0} から {1} までの値を入力してください。"),
    max: $.validator.format("{0} 以下の値を入力してください。"),
    min: $.validator.format("{1} 以上の値を入力してください。")
  });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->
</section>

<footer role="contentinfo" class="u-text-center">
  <p>Carefully Curated by Yuya Saito, Koji Ishimoto and Hiroki Tani.</p>
  <small>Made Proudly at Tokyo and Vancouver.</small>
</footer>

</div>

</body>
</html>
